[Unit]
Description=Sonarr Container
Author=Michael Mansell
Requires=docker.service
After=docker.service nzbget.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a sonarr
ExecStop=/usr/bin/docker stop -t 2 sonarr

[Install]
WantedBy=local.target
