[Unit]
Description=Mylar container
Author=Michael Mansell
After=docker.service nzbget.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a mylar
ExecStop=/usr/bin/docker stop -t 2 mylar

[Install]
WantedBy=local.target
