[Unit]
Description=Nzbget Container
Author=Michael Mansell
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a nzbget
ExecStop=/usr/bin/docker stop -t 2 nzbget

[Install]
WantedBy=local.target
