[Unit]
Description=Couchpotato container
Author=Michael Mansell
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a xbmcdb
ExecStop=/usr/bin/docker stop -t 2 xbmcdb

[Install]
WantedBy=local.target
